################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HypeRate_Desktop/FileContentIndex
/.vs/HypeRate_Desktop/node_modules
/node_modules
/dist
secrets.json
**/.vs
tasks.json
.vs
.vscode
# Tauri / Rust
src-tauri/target/
src-tauri/gen/
target/

# One-time scripts
make-icons.ps1

out/